header {
    text-align: center;
}

.projets, .competences {
    text-align: center;
    background-color: #919191;
    margin-top: 25px;
    padding: 5px;
}

h2 {
    padding-top: 20px;
}

body{
    background-color: #bbbbbb;
}

.indexprojet {
    background-color: #919191;
    padding: 5px;
    text-align: center;
}